*.class
.classpath
.git/*
.gradle/*
.project
.settings
build/*
myway/.classpath
myway/.project
myway/.settings
myway/bin/*
myway/build/*
myway/output.log
myway-api/.classpath
myway-api/.project
myway-api/.settings
myway-api/bin/*
myway-api/build/*
myway-api/output.log
myway-interfaces/.classpath
myway-interfaces/.project
myway-interfaces/.settings
myway-interfaces/bin/*
myway-interfaces/build/*
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
